label {
  text-align: right;
}

.title {
  padding-top: 1em;
  img {
    width: 4rem;
    height: 4rem;
  }
}

.btn.connected, .btn.disconnected {
  margin: 1em;
}

.alert.found-alert {
  margin-top: 1em;
}

.tab-pane {
  padding-top: 1em;
}