<div class="container">
  <h1 class="title">
    <img src="assets/icons/favicon.png" />&nbsp;{{
      "PAGES.HOME.TITLE" | translate
    }}
  </h1>

  <div class="row">
    <div class="col-12 text-center">

      <button type="submit" class="btn btn-primary btn-lg disconnected" *ngIf="connected" (click)="onDisConnect()">
        <fa-icon [icon]="faUnlink" ></fa-icon>
        {{ "PAGES.HOME.DISCONNECT" | translate }}
      </button>
      <button type="submit" class="btn btn-primary btn-lg connected" *ngIf="!connected" (click)="onConnect()">
        <fa-icon [icon]="faLink" ></fa-icon>
        {{ "PAGES.HOME.CONNECT" | translate }}
      </button>
    </div>
  </div>
  <hr />
  <p>
    <fa-icon [icon]="faCog"></fa-icon>

    {{ "CONFIG.INFO" | translate }}
  </p>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">{{
          "TABS.TITLES.EXE" | translate
        }}</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">{{
          "TABS.TITLES.CONFIG" | translate
        }}</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">{{
          "TABS.TITLES.BASIC" | translate
        }}</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="ext-tab" data-toggle="tab" href="#ext" role="tab" aria-controls="ext"
        aria-selected="false">{{
          "TABS.TITLES.EXT" | translate
        }}</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <form>
        <div class="form-group row">
          <label for="cmd" class="col-sm-4 col-form-label col-form-label-sm">{{
          "PAGES.HOME.FORM_CMD_FILE" | translate
        }}</label>
          <div class="col-sm-8">
            <input type="file" class="form-control-file form-control-sm" id="cmd" name="cmd"
              (change)="onSelectExeFile($event.target)" />
          </div>
        </div>
        <div class="col-12 text-center" *ngIf="execFile">
          <p class="alert alert-info found-alert" role="alert">
            {{ "FILE.EXE.FOUND" | translate }}<br />
            {{ execFile }}
          </p>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <form>
        <div class="form-group row">
          <label for="cmd" class="col-sm-4 col-form-label col-form-label-sm">{{
          "PAGES.HOME.FORM_CONFIG_FILE" | translate
        }}</label>
          <div class="col-sm-8">
            <input type="file" class="form-control-file form-control-sm" id="cmd" name="cmd"
              (change)="onSelectConfigFile($event.target)" />
          </div>
        </div>
        <div class="col-12 text-center" *ngIf="execFile">
          <p class="alert alert-info found-alert" role="alert">
            {{ "FILE.CONFIG.FOUND" | translate }}<br />
            {{ configFile }}
          </p>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <form>
        <div class="form-group row">
          <label for="local_addr"
            class="col-sm-4 col-form-label col-form-label-sm">{{ "PAGES.HOME.FORM_LOCAL_ADDR" | translate }}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="local_addr" name="local_addr"
              placeholder="{{ 'PAGES.HOME.FORM_LOCAL_ADDR_DESC' | translate }}" value="127.0.0.1" name="local_addr"
              [(ngModel)]="config.local_addr" *ngIf="config"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="local_port"
            class="col-sm-4 col-form-label col-form-label-sm">{{ "PAGES.HOME.FORM_LOCAL_PORT" | translate }}</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="local_port" name="local_port"
              placeholder="{{ 'PAGES.HOME.FORM_LOCAL_PORT_DESC' | translate }}" value="1080" name="local_port"
              [(ngModel)]="config.local_port" *ngIf="config"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="remote_addr"
            class="col-sm-4 col-form-label col-form-label-sm">{{ "PAGES.HOME.FORM_REMOTE_ADDR" | translate }}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="remote_addr" name="remote_addr"
              placeholder="{{ 'PAGES.HOME.FORM_REMOTE_ADDR_DESC' | translate }}" value="0.0.0.0"
              [(ngModel)]="config.remote_addr" *ngIf="config"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="remote_port"
            class="col-sm-4 col-form-label col-form-label-sm">{{ "PAGES.HOME.FORM_REMOTE_PORT" | translate }}</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="remote_port" name="remote_port"
              placeholder="{{ 'PAGES.HOME.FORM_REMOTE_PORT_DESC' | translate }}" value="443"
              [(ngModel)]="config.remote_port" *ngIf="config"/>
          </div>
        </div>

        <div class="form-group row">
          <label for="password" class="col-sm-4 col-form-label col-form-label-sm">{{
        "PAGES.HOME.FORM_PASSWORD" | translate
      }}</label>

          <div class="col-sm-8">
            <input type="password" class="form-control" id="password" name="password"
              placeholder="{{ 'PAGES.HOME.FORM_PASSWORD_DESC' | translate }}" [(ngModel)]="config.password[0]" *ngIf="config && config.password"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="certificate"
            class="col-sm-4 col-form-label col-form-label-sm">{{ "PAGES.HOME.FORM_CERTIFICATE" | translate }}</label>
          <div class="col-sm-8">
            <input type="file" class="form-control-file" id="certificate" name="certificate" />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-secondary" (click)="onSave()">
              <fa-icon [icon]="faSave"></fa-icon>
              {{ "PAGES.HOME.SAVE" | translate }}
            </button>
          </div>
          <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-dark" (click)="onSaveAs()">
              <fa-icon [icon]="faSave"></fa-icon>
              {{ "PAGES.HOME.SAVE_AS" | translate }}
            </button> </div>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="ext" role="tabpanel" aria-labelledby="profile-tab">
      <form>
        <div class="form-group row">
          <label for="log_level"
            class="col-sm-4 col-form-label col-form-label-sm">{{ "PAGES.HOME.FORM_LOG_LEVEL" | translate }}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="log_level" name="log_level"
              placeholder="{{ 'PAGES.HOME.FORM_LOG_LEVEL_DESC' | translate }}" value="127.0.0.1" name="log_level"
              [(ngModel)]="config.log_level" *ngIf="config"/>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Content here -->
</div>