label {
  text-align: right;
}

.title {
  padding-top: 1em;
  img {
    width: 4rem;
    height: 4rem;
  }
}

.btn.connected,
.btn.disconnected {
  margin: 1em;
}

.alert.found-alert {
  margin-top: 1em;
}

.tab-pane {
  padding-top: 1em;
}

.close-bar {
  margin-right: -1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card {
  padding: 0 2rem;
}

.service-buttons {
  margin-bottom: 1rem;
}
