<div class="container">
  <h1 class="title">
    <img src="assets/icons/favicon.png" />&nbsp;{{
      "PAGES.HOME.TITLE" | translate
    }}
  </h1>

  <div class="row">
    <div class="col-12 text-center">
      <button
        type="submit"
        class="btn btn-primary btn-lg connect"
        (click)="onSubmit()"
      >
        <fa-icon [icon]="faLink" *ngIf="connected"></fa-icon>
        <fa-icon [icon]="faUnlink" *ngIf="!connected"></fa-icon>
        {{ "PAGES.HOME.CONNECT" | translate }}
      </button>
    </div>
  </div>

  <hr />
  <p>
    <fa-icon [icon]="faCog"></fa-icon>

    {{ "CONFIG.INFO" | translate }}
  </p>

  <form>
    <div class="form-group row">
      <label for="cmd" class="col-sm-4 col-form-label col-form-label-sm">{{
        "PAGES.HOME.FORM_CMD_FILE" | translate
      }}</label>
      <div class="col-sm-8">
        <input
          type="file"
          class="form-control-file form-control-sm"
          id="cmd"
          name="cmd"
          (change)="onSelectFile($event.target)"
        />
      </div>
    </div>

    <div class="form-group row">
      <label
        for="local_addr"
        class="col-sm-4 col-form-label col-form-label-sm"
        >{{ "PAGES.HOME.FORM_LOCAL_ADDR" | translate }}</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="local_addr"
          name="local_addr"
          placeholder="{{ 'PAGES.HOME.FORM_LOCAL_ADDR_DESC' | translate }}"
          value="127.0.0.1"
          name="local_addr"
          [(ngModel)]="config.local_addr"
        />
      </div>
    </div>

    <div class="form-group row">
      <label
        for="local_port"
        class="col-sm-4 col-form-label col-form-label-sm"
        >{{ "PAGES.HOME.FORM_LOCAL_PORT" | translate }}</label
      >
      <div class="col-sm-8">
        <input
          type="number"
          class="form-control"
          id="local_port"
          name="local_port"
          placeholder="{{ 'PAGES.HOME.FORM_LOCAL_PORT_DESC' | translate }}"
          value="1080"
          name="local_port"
          [(ngModel)]="config.local_port"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        for="remote_addr"
        class="col-sm-4 col-form-label col-form-label-sm"
        >{{ "PAGES.HOME.FORM_REMOTE_ADDR" | translate }}</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="remote_addr"
          name="remote_addr"
          placeholder="{{ 'PAGES.HOME.FORM_REMOTE_ADDR_DESC' | translate }}"
          value="0.0.0.0"
          [(ngModel)]="config.remote_addr"
        />
      </div>
    </div>

    <div class="form-group row">
      <label
        for="remote_port"
        class="col-sm-4 col-form-label col-form-label-sm"
        >{{ "PAGES.HOME.FORM_REMOTE_PORT" | translate }}</label
      >
      <div class="col-sm-8">
        <input
          type="number"
          class="form-control"
          id="remote_port"
          name="remote_port"
          placeholder="{{ 'PAGES.HOME.FORM_REMOTE_PORT_DESC' | translate }}"
          value="443"
          [(ngModel)]="config.remote_port"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-4 col-form-label col-form-label-sm">{{
        "PAGES.HOME.FORM_PASSWORD" | translate
      }}</label>

      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="{{ 'PAGES.HOME.FORM_PASSWORD_DESC' | translate }}"
          [(ngModel)]="config.password[0]"
        />
      </div>
    </div>
    <div class="form-group row">
      <label
        for="certificate"
        class="col-sm-4 col-form-label col-form-label-sm"
        >{{ "PAGES.HOME.FORM_CERTIFICATE" | translate }}</label
      >
      <div class="col-sm-8">
        <input
          type="file"
          class="form-control-file"
          id="certificate"
          name="certificate"
        />
      </div>
    </div>
  </form>
  <!-- Content here -->
</div>
